<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data>
    <record id="action_task_widget_preview" model="ir.actions.act_url">
      <field name="name">Task Widget Preview</field>
      <field name="url">/task_widget/preview</field>
      <field name="target">self</field>
    </record>

    <menuitem id="menu_task_widget_preview"
              name="Task Widget Preview"
              parent="project.menu_main_pm"
              action="action_task_widget_preview"
              sequence="95"
              groups="project.group_project_user"/>
  </data>
</odoo>