
<odoo>
    <menuitem id="menu_hr_bonus_root"
              name="Bonuses"
              sequence="35"
              web_icon="hr_bonus_app,static/description/icon.png"
              action="action_hr_bonus_request"/>
    <record id="action_hr_bonus_type" model="ir.actions.act_window">
        <field name="name">Bonus Types</field>
        <field name="res_model">hr.bonus.type</field>
        <field name="view_mode">tree,form</field>
    </record>
    <menuitem id="menu_hr_bonus_type" name="Bonus Types" parent="menu_hr_bonus_root" action="action_hr_bonus_type" sequence="20"/>
    <record id="action_hr_bonus_request" model="ir.actions.act_window">
        <field name="name">Bonus Requests</field>
        <field name="res_model">hr.bonus.request</field>
        <field name="view_mode">tree,form</field>
        <field name="search_view_id" ref="view_hr_bonus_request_search"/>
    </record>
    <menuitem id="menu_hr_bonus_request" name="Bonus Requests" parent="menu_hr_bonus_root" action="action_hr_bonus_request" sequence="10"/>
</odoo>
